h1 {
color: purple;
font-size: 200%
}

p {
  font-family: "georgia"
  font-style: oblique;
  color: gray;
  text-indent: 20px;
  margin-left: 10px;
}

#content {
  background-color: brown;
  width: 500px;
  min-height: 300px;
  padding: 10px;
  border: solid 1px black;
  font-size: 20px
}
