h1 {
  color: purple;
  font-size: 200%
}

p {
  font-family: "helvetica"
  font-style: oblique;
  color: gray;
  text-indent: 20px;
  margin-left: 10px;
}

#callout {
  background-color:tan;
  padding: 20px;
  margin: 10px;
  border: solid 1px black;
  border-radius: 20px;
}
